
* {
  box-sizing: border-box;
}
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear {
	clear: both;
}
/******************************************
/* BASE STYLES
/*******************************************/
main>div{
  width: calc(100% - 40px);
  position: relative;
  display: flex;
  flex-grow: row wrap;
  justify-content: space-between;
  margin-left: 20px;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  max-width: 2400px;
  margin: auto;
}
.gray{
  color: gray;
}
.left-border{
  position: static;
  padding-left: 5px;
  border-left: 2px solid rgb(255, 0, 0);
  margin-left: 5px;
  margin-top: auto;
}
section{
  float: left;
}
div{
  position: absolute;
  bottom: 5%;
  margin-left: 10px;
}
h2{
  font-size: 20px;
  flex-grow: 1;
}

.top-topic:hover img,
section>section:hover img,
article>section:hover img{
  filter: brightness(0.5);
}
/****************************************/

/******************************************
/* LAYOUT
/*******************************************/

header{
  height: 70px;
  background-color: rgb(0, 0, 0);
  /* overflow-x: auto; */
}
header *{
  font-size: 13px;
  color: #fff;
  float: left;
}
header img{
  width: 152px;
  height: 52px;
  margin: 9px 0 9px 10px;
}
aside{
  width: 170px;
}
aside:hover{
  cursor: pointer;
  border-bottom: 2px solid blue;
}
aside img{
  width: 50px;
  height: 50px;
}
nav p{
  font-weight: 900;
}
ul{
  font-weight: 700;
  line-height: 50px;
  list-style-type: none;
  padding-left: 0;
}
li{
  width: 60px;
  text-align: center;
}
li:hover{
  border-bottom: 2px solid blue;
}
form{
  float: right;
}
form>a{
  display: none;
  font-size: 30px;
  padding-right: 5px;
  text-decoration: none;
  line-height: 70px;
}
input{
  height: 40px;
  width: 200px;
  font-size: 20px;
  color: #fff;
  background-color: #000;;
  border-radius: 5px;
  margin: 15px 10px 15px 0;
  border: 1px solid #fff;
  float: right;
  &::placeholder {
    color: #fff;
  }
}
ul, header img{
  cursor: pointer;
}
/****************************************/

main .art section h2, h1{
  color: #fff;
}

.top-topic{
  position: relative;
  width: 100%;
  height: 425px;
  display: flex;
  flex-direction: row;
}
.top-topic>img{
  width: 50%;
  height: 100%;
}
.top-topic+section{
  width: 100%;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 10px;
  margin: 0;
}
section>section{
  position: relative;
  height: 200px;
}
section>section>img{
  width: 100%;
  height: 100%;
}

.art {
  grid-template-columns: repeat(2, 1fr);
  margin: 0 1%;
  gap: 20px;
}

/****************************************/

main>h2{
  padding-left: 5px;
  border-left: 3px solid #f00;
  margin-left: 5px;
}

article{
  margin: 0 1% 30px 1%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
article>section{
  float: none;
  display: flex;
  flex-direction: column;
}
article>section+section{
  margin: 0 0 0 1%;
}
article section img{
  width: 100%;
  aspect-ratio: 10/6;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (max-width: 1470px) {
  h2 {
    flex-grow: 0;
  }
}
@media screen and (max-width: 1020px) {
  form>a{
    display: inline-block;
  }
  input{
    display: none;
  }
}
@media screen and (max-width: 860px) {
  article {
    grid-template-columns: 1fr;
  }
  .art {
    grid-template-columns: 1fr;
  }
  aside{
    width: 50px;
  }
  aside>p{
    display: none;
  }
  ul{
    padding-left: 10px;
  }
}
@media screen and (max-width: 760px) {
  li{
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .top-topic{
    height: 300px;
    margin: 0;
  }
  article>section{
    float: none;
    width: 100%;
  }
  .top-topic+section {
    grid-template-columns: 1fr;
    gap: 20px;
    height: auto;
  }
}